.navbar-brand {
  width: 33.333%;
}

.custom-navbar {
  background-color: #85C790;
  z-index: 1;
}

.pageTitle{
cursor:pointer;
float:left;
width:260px;

}
header h1{
font-size:23px;
margin-left:30px;
margin-right:5px;
width:170px;
}

.titleCard:hover{
cursor:pointer;
}

body {
    background-image:url(../images/login_background_image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    filter: contrast(110%);
  }
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 20px;
  }
  .btn-login {
    width: 100%;
  }

 #userNameErrors,#passwordErrors{
  text-align: center;
  color: red;
 }
 /* faq button */
#FAQ-button{
  width:50px;
  height:50px;
  position:fixed;
  bottom:20px;
  right:20px;
  text-align:center;
  border-radius:20px;
  background-color:#85C790;
  cursor:pointer;
}
#FAQ-button div{
  position:relative;
  color:white;
  font-size:30px;
  top:10px;
}

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

