.navbar-brand {
    width: 33.333%;
  }
  .profile-icon,
  .settings-icon {
    width: 16.666%;
    text-align: center;
  }
  .custom-navbar {
    background-color: #85C790;
  }
                          /*header*/
header{
background-color: #5CA167;
justify-content: space-between;
align-items: center;
padding:10px;
}
.pageTitle{
cursor:pointer;
float:left;
width:260px;

}
header h1{
font-size:23px;
margin-left:30px;
margin-right:5px;
width:170px;
}

.balanceBar{
  margin-left: auto;
  margin-right: 25px;
  height:25px;
  font-size:15px;
  font-weight:bold;
  }



                          /*buttons*/
.headerButton{
float:right;
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
margin-right: 10px;
margin-left: 10px;
}
.headerButton div{
margin:6px;
font-size:20px;
}
.settingsButton{
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
}
.titleCard:hover{
cursor:pointer;
}

body{
margin:0;
}
table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:#85C790;
}
th {
    background-color: #85C790;
}
/* faq button */
#FAQ-button{
  width:50px;
  height:50px;
  position:fixed;
  bottom:20px;
  right:20px;
  text-align:center;
  border-radius:20px;
  background-color:#5CA167;
  cursor:pointer;
}
#FAQ-button div{
  position:relative;
  color:white;
  font-size:30px;
  top:10px;
}