.navbar-brand {
  width: 33.333%;
}
.profile-icon,
.settings-icon {
  width: 16.666%;
  text-align: center;
}
.custom-navbar {
  background-color: #85C790;
}
                        /*header*/
header{
background-color: #5CA167;
justify-content: space-between;
align-items: center;
padding:10px;
}
.pageTitle{
cursor:pointer;
float:left;
width:260px;

}
header h1{
font-size:23px;
margin-left:30px;
margin-right:5px;
width:170px;
}

.balanceBar{
margin-left: auto;
margin-right: 25px;
height:25px;
font-size:15px;
font-weight:bold;
}



                        /*buttons*/
.headerButton{
float:right;
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
margin-right: 10px;
margin-left: 10px;
}
.headerButton div{
margin:6px;
font-size:20px;
}
.settingsButton{
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
}
.titleCard:hover{
cursor:pointer;
}


body{
margin:0;
text-align: center;
}

.center-container {
  display: flex;
  background-color:#85C790;
  border-radius:20px;
  text-align:center;
  min-width: 100%;
}


.table {
  width: 80%;
  border-radius: 10px;
  margin-top:10px;
  overflow: hidden;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.saved-card-container{
  height:300px;
  min-width:350px;
  background-color:#85C790;
  padding:15px;
  border-radius: 10px;
}

.one-tap-pay-btn{
  margin-top: 10px; 
  margin-right: 10px; 
  margin-bottom: 10px;
  text-align: right;
  background-color:#5CA167;
}
.new-payment{
  height:300px; 
  background-color:#85C790;
  padding:15px;
  border-radius: 10px;
  min-width:350px;
}
.new-payment button{
  background-color:#5CA167;
  text-align: right;
}


.no-wrap {
  white-space: nowrap; 
}

.cvv-container {
  padding-left:10px;
}

.add-card-btn {
  margin-top: 10px; 
  margin-right: 10px; 
  margin-bottom: 10px;
}

#FundingInfo{
  display:none;
}
.dropdown-menu{
  width:30px;
}

#FAQ-button{
  width:50px;
  height:50px;
  position:fixed;
  bottom:20px;
  right:20px;
  text-align:center;
  border-radius:20px;
  background-color:#5CA167;
  cursor:pointer;
}
#FAQ-button div{
  position:relative;
  color:white;
  font-size:30px;
  top:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#addFundsBtn{
  background-color: #5CA167;
  border: 2px solid slategrey;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

#AddBalanceText {
  font-weight: bold;
}
