.navbar-brand {
    width: 33.333%;
  }
  .profile-icon,
  .settings-icon {
    width: 16.666%;
    text-align: center;
  }
  .custom-navbar {
    background-color: #85C790;
  }
                          /*header*/
header{
background-color: #5CA167;
justify-content: space-between;
padding:10px;
}
.pageTitle{
cursor:pointer;
float:left;
width:260px;

}
header h1{
font-size:23px;
margin-left:30px;
margin-right:5px;
width:170px;
}
.balanceBar{
float:right;
margin-left: 350px;
}



                          /*buttons*/
.headerButton{
float:right;
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
}
.headerButton div{
margin:6px;
font-size:20px;
}
.settingsButton{
width:35px;
height:35px;
border:3px solid #000;
border-radius:20px;
text-align:center;
top:5px;
cursor:pointer;
}


body{
margin:0;
}

table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 8px;
  background-color:#f2f2f2;
}
th {
  background-color:85C790;
}
.saved-cards{
  height:200px; 
  background-color:#85C790;
}
.saved-cards button{
  background-color:#5CA167;
}
.new-payment{
  height:200px; 
  background-color:#85C790;
}
.new-payment button{
  background-color:#5CA167;
}

#FundingInfo{
  display:none;
}